<!DOCTYPE html>
<!--[if IE 8 ]><html id="ie" class="no-js" lang="ru" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="ru" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"><!--<![endif]-->

<html class="no-js" lang="ru" prefix="og: http://ogp.me/ns#"  itemscope itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8">
	<title>TITTLE</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="manifest" href="site.webmanifest">
	
	<!--OpenGraph, twitter, G+-->
	<meta property="og:title" content="ПравЭксперт"/>
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="pravexpert.com"/>
	<meta property="og:image" content="http://www.pngmart.com/files/5/Lawyer-PNG-Photos.png"/>
	<meta property="og:locale" content="ru_RU"/>
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="Александр Гриневич"/>
	<meta name="twitter:title" content="Название страницы"/>
	<meta name="twitter:description" content="Описание страницы"/>
	<meta name="twitter:image" content="http://site.com/image_1.png"/>
	<meta itemprop="name" content="ПравЭксперт"/>
	<meta itemprop="description" content="Адвокатская контора ПравЭксперт. Услуги юридическим и физическим лицам."/>
	<meta itemprop="image" content="http://www.pngmart.com/files/5/Lawyer-PNG-Photos.png"/>
	   
   <!--Для геолокации--> 
  <meta property="place:location:latitude" content="13.062616"/>
	<meta property="place:location:longitude" content="80.229508"/>
	<meta property="business:contact_data:street_address" content="Название улицы"/>
	<meta property="business:contact_data:locality" content="Город"/>
	<meta property="business:contact_data:postal_code" content="Индекс"/>
	<meta property="business:contact_data:country_name" content="Страна"/>
	<meta property="business:contact_data:email" content="contact@mail.com"/>
	<meta property="business:contact_data:phone_number" content="+91 1234567890"/>
	<meta property="business:contact_data:website" content="http://www.website.com"/>
    
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="theme-color" content="#000000">
	<meta name="msapplication-navbutton-color" content="#000">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <meta name="apple-mobile-web-app-title" content="Title">
	
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon-72x72.png" sizes="72x72">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon-114x114.png" sizes="114x114">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon-120x120.png" sizes="120x120">
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon-144x144.png" sizes="144x144">
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon-152x152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon-196x196.png" sizes="196x196">
	

	<style type="text/css">body { opacity: 0; overflow-x: hidden; } html {background-color: #fff }</style>
	
	<!--[if lt IE 9]>
		<script src="libs/html5shiv/es5-shim.min.js"></script>
		<script src="libs/html5shiv/html5shiv.min.js"></script>
		<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
		<script src="libs/respond/domshim/respond.min.js"></script>
		<script src="libs/domshim/a.ie8.js"></script>
	<![endif]-->
	<script src="libs/modernizr-custom.js" async defer></script>
	<script type="application/ld+json">
		{
		  "@context": "http://schema.org/",
		  "@type": "Organization",
		  "name": "ПравЭксперт",
		  "address": {
		    "@type": "PostalAddress",
		    "streetAddress": "пр. Зеленых многоножек 24",
		    "addressLocality": "Гомель",
		    "addressRegion": "Гомельская область",
		    "postalCode": "5633333"
		  },
		  "telephone": "+393479291110"
		}
	</script>
</head>

<body>