.slider {
    position: relative;
    padding-top: 90vh;
    text-align: center;
}
.slider__label {
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 20px;
    background: #535353;
    border-radius: 50%;
    transition: background ease .4s;
    cursor: pointer;
}
.slider__img {
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
    max-width: 100vw;
	height: 90vh;
	background: green;
    animation: slide-out 1.5s;
    animation-fill-mode: forwards;
}

.slider__img:nth-child(2) {
	background: #000;
}

.slider__img:last-child {
	background: #c33;
}
.slider__check {
    display: none;
}

.slider__check:checked + .slider__label {
        border: 4px solid #535353;
        background: white;
    }
.slider__check:checked + .slider__label + .slider__img {
        animation: slide-in 1.5s;
    }

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: scale(100%);
        z-index: 1;
    }
    70% {
        opacity: 0.5;
        z-index: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0) rotate(45deg);
        z-index: 0;
    }
}
@keyframes slide-in {
    0% {
        z-index: 0;
        filter: blur(10px);
    }
    80% {
        z-index: 0;
    }
    100% {
        z-index: 1;
    }
}